.auth-page {
  text-align: center;
  
  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-primary);
    margin-bottom: $spacing-unit * 2;
  }
  
  &__subtitle {
    color: var(--text-secondary);
    margin-bottom: $spacing-unit * 6;
  }
  
  .form {
    text-align: left;
    margin-top: $spacing-unit * 4;
  }
} 