.home {
  .home {
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: $spacing-unit * 5;
      padding-top: $spacing-unit * 5;
      padding-bottom: $spacing-unit * 25;
    }
  }
}