.news__wrapper {
    .news {
      &__content {
        display: flex;
        gap: $spacing-unit * 2;
        overflow: hidden;
        .news {
          &__main {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: $spacing-unit * 2;
            &Image {
              width: 100%;
              height: 175px;
              object-fit: cover;
            }
            &Content {
              display: flex;
              flex-direction: column;
              gap: $spacing-unit * 2;
              &--title {
                font-size: $font-size-base * 1.1;
                color: $secondary-color;
                line-height: normal;
              }
              &--description {
                font-size: $font-size-base * 0.9;
                color: $secondary-color;
              }
            }
            &Footer {
              display: flex;
              flex-direction: column;
              gap: $spacing-unit * 0.15;
              font-size: $font-size-base * 0.75;
              color: $secondary-color;
            }
          }
          &__sidebar {
            flex: 1;
            max-width: 600px;
            height: 300px; 
            overflow-y: auto;
            border-left: 1px solid $gray-color;
            padding-left: $spacing-unit * 2;
            .news__list {
              display: flex;
              flex-direction: column;
              gap: $spacing-unit * 2;
              .news {
                &__smallNews {
                  display: flex;
                  align-items: center;
                  gap: $spacing-unit * 2;
                  padding: $spacing-unit * 2;
                  cursor: pointer;
                  transition: $transition-base;
                  border-left: 4px solid transparent;
                  &:hover {
                    background: $softgray-color;
                  }
                  &.active {
                    background: $softgray-color;
                    border-left: 4px solid $primary-color;
                    padding-left: $spacing-unit * 2;
                  }
                  &--image {
                    flex: 1;
                    width: 100%;
                    height: 80px;
                    object-fit: cover;
                  }
                  .news__smallNewsContent {
                    flex: 3;
                    display: flex;
                    flex-direction: column;
                    gap: $spacing-unit;
                    &--title {
                      font-size: $font-size-base * 0.9;
                      color: $secondary-color;
                    }
                    &--footer {
                      display: flex;
                      flex-direction: column;
                      gap: $spacing-unit * 0.15;
                      color: $secondary-color;
                      font-size: $font-size-base * 0.75;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    /* ---------- RESPONSIVE DESIGN ---------- */
    @media (max-width: $xl-breakpoint) {
      .news__content {
        .news__sidebar {
          .news__list {
            .news__smallNews {
              .news__smallNews--image {
                flex: auto;
                max-width: 120px;
                height: 80px;
              }
            }
          }
        }
      }
    }  
    @media (max-width: $lg-breakpoint) {
      .news__content {
        .news__sidebar {
          .news__list {
            .news__smallNews {
              .news__smallNews--image {
                flex: auto;
                max-width: 120px;
                height: 80px;
              }
            }
          }
        }
      }
    }    
    @media (max-width: $md-breakpoint) {
      .news__content {
        .news__sidebar {
          .news__list {
            .news__smallNews {
              font-size: $font-size-base * 0.75;
              .news__smallNews--image {
                flex: auto;
                max-width: 100px;
                height: 70px;
              }
              .news__smallNewsContent {
                .news__smallNewsContent--title {
                  font-size: $font-size-base * 0.75;
                }
                .news__smallNewsContent--footer {
                  font-size: $font-size-base * 0.65;
                }
              }
            }
          }
        }
      }
    }
    @media (max-width: $sm-breakpoint) {
      .news__content {
        flex-direction: column;
        gap: $spacing-unit * 2;
        .news__main {
          &Image {
            height: 200px;
          }
        }
        .news__sidebar {
          flex: auto;
          padding: $spacing-unit * 0.5;
          padding-left: 0;
          border-left: 0;
          .news__list {
            .news__smallNews {
              font-size: $font-size-base * 0.75;
              .news__smallNews--image {
                flex: auto;
                max-width: 100px;
                height: 70px;
              }
              .news__smallNewsContent {
                .news__smallNewsContent--title {
                  font-size: $font-size-base * 0.75;
                }
                .news__smallNewsContent--footer {
                  font-size: $font-size-base * 0.65;
                }
              }
            }
          }
        }
      }
    }
    /* ---------- RESPONSIVE DESIGN ---------- */
  }
  