.tags {
  margin: $spacing-unit * 8 0;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $spacing-unit * 2;
    margin-bottom: $spacing-unit * 8;
    &::after {
      content: "";
      position: relative;
      display: block;
      background-color: $primary-color;
      width: 40px;
      height: 2px;
      border-radius: $border-radius;
      margin-top: $spacing-unit * 4;
    }
    &--title {
      color: $secondary-color;
      text-align: center;
      font-size: $font-size-base * 1.5;
      font-weight: 600;
    }
    &--description {
      color: $secondary-color;
      text-align: center;
      font-size: $font-size-base;
      font-weight: 500;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-unit * 2;
    justify-content: center;
    &--item {
      padding: $spacing-unit * 2 $spacing-unit * 4;
      background: rgba($primary-color, 0.1);
      border-radius: $border-radius;
      color: $primary-color;
      transition: $transition-base;
      font-size: $font-size-base * 0.875;
      &:hover {
        background: $primary-color;
        color: $light-color;
      }
    }
    &--empty {
      background-color: $gray-color;
      border-radius: $border-radius;
      text-align: center;
      color: $secondary-color;
      font-weight: bold;
      padding: $spacing-unit * 4;
      width: 100%;
    }
  }
} 