.topbar {
    background: $secondary-color;
    color: $light-color;
    font-family: $font-family-base;
    font-size: $font-size-base * 0.75;
    padding: $spacing-unit * 2 0;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__group {
        display: flex;
        align-items: center;
        gap: $spacing-unit * 4;
    }
    &__date {
        font-weight: bold;
        white-space: nowrap;
        border-right: solid 1px $light-color;
        padding-right: 1rem;
    }
    &__links {
        display: flex;
        gap: $spacing-unit * 3;
        .topbar__link {
            color: $light-color;
            text-decoration: none;
            transition: $transition-base;
            &:hover,
            &.active {
                color: $primary-color;
            }
        }
    }
    &__social {
        display: flex;
        align-items: center;
        gap: $spacing-unit * 4;
        a {
            color: $light-color;
            font-size: $font-size-base * 0.875;
            transition: $transition-base;
            vertical-align: middle;
            line-height: normal;
            &:hover {
                color: $primary-color;
            }
        }
    }
    /* ---------- RESPONSIVE DESIGN ---------- */
    /*Small Screens*/
    @media (max-width: $sm-breakpoint) {
        display: none;
    }
    /*Small Screens*/
}
